@charset "utf-8";
html{
	height:100%;
	margin: 0;
    background : rgb(241,240,238);
    background-image: url('../images/bee.jpg');
    /*background:rgba(1,1,1,1);*/
    border-top: 7px rgb(18,83,164) solid;
    color:rgba(41,41,41,0.85);
    /*background-size:contain;*/
    /*background-attachment:fixed;*/  
}

body {
	height:100%;
	color:rgba(41,41,41,0.8);
	font-family: "PT", sans-serif;
}
body > #wrapper {
	height:auto;
}
header {
    position:relative;
    font-family:telex;
    width: 100%;
    height:65px;
    min-width: 1085px;
    max-width: 1180px;
    margin:0 auto; /*header centering*/
    font-size:80%;
}
a, a:link, a:visited {
    color:rgba(41,41,41,0.85);
}
a.title {
	font-weight:700;
	text-decoration:underline;
}
a.title:hover{
	color:rgb(250,250,200);
}
p {
	line-height: 1.3;

}
h2 {
	font-size:150%;
}
h3 {
	text-align:center;
	font-size:130%;
}
h4 {
	text-align:center;
	font-size:110%;
}
h5 {
	font-size:110%;
}
table th{
	font-weight:800;
}
footer {
	width:100%;
	height:100px;
	background:rgb(61,83,150);
	color:#fff;
	text-align:center;

}
footer p {
	padding-top: 20px;
	font-size:90%;

}
.introduction {
	text-align: justify;
	width: 100%;
	margin: 0 auto;
	background-image: url('../images/bee.jpg');
	/*background: rgba(220,220,250,0.8);*/
	color: rgba(50,50,50,1);
	padding: 10px 10% 20px;
	border: 2px solid #ddd;
	border-radius: 2px;
}
.intro {
	margin:15px 0 15px 0;
	/*display:inline-block;*/
	/*border-bottom:1px dotted rgba(40,40,40,1);*/
}
.intro-indent {
	padding-left:60px;
}
.intro-small {
	font-size:85%;
	margin: 50px 0 50px 0;
}
#wrapper {   
	overflow:visible;
	width: 100%;
	min-width: 1085px;
	max-width: 1180px;
	min-height:100%;
 	height:100%;
	background : #FFF;
	margin:45px auto 20px; /*centering*/
	padding:5px 30px 20px; 
	word-wrap:break-word;
	/*text-align: justify;
    text-justify: inter-ideograph;
    -ms-text-justify: inter-ideograph;*/
	-webkit-box-shadow: 1px 1px 10px  rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    1px 1px 10px  rgba(50, 50, 50, 0.5);
	box-shadow:         1px 1px 10px  rgba(50, 50, 50, 0.5);
	border-radius:2px;
	border: 1px solid #ccc;
}

#superwrapper {
	overflow:hidden;
	width: 100%;
	min-width: 1085px;
	max-width: 1180px;
	background : none;
	margin:45px auto 20px; /*centering*/
	padding:5px; 
	word-wrap:break-word;	
}
#upper-wrapper {
	width: 100%;
	background : #FFF;
	margin:0 auto 10px; /*centering*/
	padding:5px 30px; 
	word-wrap:break-word;
	/*-webkit-box-shadow: 1px 1px 10px  rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    1px 1px 10px  rgba(50, 50, 50, 0.2);
	box-shadow:         1px 1px 10px  rgba(50, 50, 50, 0.2);*/
	border-radius:3px;
	border: 1px solid #ccc;
}
#sidebar {
	float:left;
	width:18%;

	padding:10px;
	background : #FFF;
	/*-webkit-box-shadow: 1px 1px 10px  rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    1px 1px 10px  rgba(50, 50, 50, 0.2);
	box-shadow:         1px 1px 10px  rgba(50, 50, 50, 0.2);*/
	border-radius:3px;
	border: 1px solid #ccc;
}
#main {
	float:right;
	width:81%;
	padding:10px;
	background : #FFF;
	/*-webkit-box-shadow: 1px 1px 10px  rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    1px 1px 10px  rgba(50, 50, 50, 0.2);
	box-shadow:         1px 1px 10px  rgba(50, 50, 50, 0.2);*/
	border-radius:3px;
	border: 1px solid #ccc;
	/*text-align: justify;
    text-justify: inter-ideograph;
    -ms-text-justify: inter-ideograph;*/
}

#side1{
	width:80%;
	/*background: gray;*/
	float:left;
	margin:0;
	/*background-color: rgba(40,40,40,0.3);*/
}

#side2{
	width:20%;
	float:right;
	/*background-color: rgba(40,40,0,0.1);*/
}
#toggle {
	display:none;
}
#logo {
    position:absolute;
    top:11px;
    left:0;
    -webkit-transition: all 0.2s ease-in;
}
#logo:hover {
    opacity:0.55;
    top:8px;
 }

#mainnav {
    float:right;
    margin-right:60px;
}
.nav-container, .notification {
	position:relative;
    cursor:pointer;
    display:inline-block;
    margin-top:35px;
    margin-left:7px;
    /*padding:12px 0 0 10px;*/
    background:white;
    border: 1px #ccc solid;
    -webkit-transition: all 0.1s linear;
    box-shadow: 0 0 0 1px white inset, 0 0 0 0 rgba(255, 255, 255, 0.15) inset, 0 1px 0 0 #adadad, 0 1px 0 1px rgba(100, 100, 100, 0.15), 0 1px 1px 1px rgba(100, 100, 100, 0.15);
    }
.nav-container:active ,.notification:active{
	box-shadow:none;
	border-bottom-width:1px;
    border-right-width:1px;
    border-left-width:1px;
    top:2px;
}
.nav-container{
	border-bottom-width:3px;
	width:120px;
	height:40px;
	border-radius:4px;
	font-family: Noto Sans
}
.nav-container:hover {
	background : rgba(241,240,238,0.1);	  
}
.nav-left {
	float:left;
	width:25%;
	height:40px;
	/*background-color:red;*/
	padding:11px 0 0 10px;
}
.nav-right {
	float:right;
	width:75%;
	height:40px;
	text-align: center;
	padding-top:12px;
	text-align:center;
	/*background-color:gray;*/
}
.nav-right li a{
	color:rgba(60,60,60,0.7);
	text-decoration: none;
}
.two-line{
	padding:6px;
}
.nav-container li {
    list-style-type:none;
}

.active {
	background : rgba(241,240,238,0.1);
	border-bottom-width:1px;
    border-right-width:1px;
    border-left-width:1px;
    box-shadow: none;
	cursor: default;
	top:2px;
}
.notification{
	position:absolute;
	top:0;
	right:5px;
	width:40px;
	height:40px;
	border-radius:50%;
	text-align: center;
	padding-top:10px;
}
.notif-time {
	font-family:PT;
	color:rgba(18,83,164,0.7);
	font-size:90%;
}
.notif-badge {
	font-family:PT Sans;
	font-weight:bold;
	position:absolute;
	top:-5px;
	right:-8px;
	width:25px;
	height:17px;
	border-radius:3px;
	color:white;
	background:rgba(210,50,45,0.8);
	text-align: center;
	padding-top:2px;
}
.notification .panel-btn {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	border-radius:50%;
}
.panel-notif {
	display:none;
	position:absolute;
	top:55px;
	left:-320px;
	z-index: 1000;
	width:400px;
	overflow:visible;
	margin-left:-30px;
	text-align:left;
	background:#fff;
	border:1px solid rgb(61,83,150);;
	border-radius:2px;
	-webkit-box-shadow: 1px 1px 6px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    1px 1px 6px rgba(50, 50, 50, 0.5);
	box-shadow:         1px 1px 6px rgba(50, 50, 50, 0.5);
}
.panel-notif:before {
	content:"";
	position:absolute;
	top:-30px;
	left:350px;
	height:0;
	width:0;
	border:15px solid transparent;
	border-bottom:15px solid rgb(61,83,150);
}
.panel-contents {
	max-height:420px;
}
.panel-label {
	width:100%;
	color:#fff;
	background:rgb(61,83,150);
	padding: 5px 0;
	text-align: center;
}
.notif-list {
	/*background:#ccc;*/
	border-bottom:1px #ccc solid;
	padding:10px;
}
.notif-list:hover {
	background:rgba(61,83,150,0.07);
}
.notif-list:last-child {
	border-bottom:none;
}
#result-container{
	overflow:hidden;
	width:100%;
	height:auto;
	margin:50px auto 30px;
	font-size:80%;
	line-height: 1.2;
	/*background-color: rgba(40,40,40,0.2);*/
	/*border-radius:10px;*/
}
.result-semi-container > ul , .result-semi-container2 > ul {
	padding-top: 10px;
} 
.result-semi-container{
	float:left;
	opacity:0.8;
	position:relative;
	margin:10px 5px 0px 0px;
	width:32.8%;
	height:150px;
	/*background-color: rgba(40,40,40,0.5);*/
	border-radius:3px;
	padding:5px;
	background-color: rgba(246,246,246,0.5);
	border: 1px solid rgb(193,193,193);
	border-bottom-width:2px;
	-webkit-transition: all 0.5s ease-out;
}
.result-semi-container2{
	float:left;
	opacity:0.8;
	position:relative;
	margin:10px 5px 0px 0px;
	width:49.3%;
	height:150px;
	/*background-color: rgba(40,40,40,0.5);*/
	border-radius:3px;
	padding:5px;
	background-color: rgba(246,246,246,1);
	border: 1px solid rgb(193,193,193);
	border-bottom-width:2px;
	-webkit-transition: all 0.5s ease-out;
}
.result-semi-container:hover , .result-semi-container2:hover{
	/*background-color: rgba(230,230,230,1);*/
	background: -webkit-linear-gradient(90deg, #4b6cb7 10%, #182848 90%); 
	background:    -moz-linear-gradient(90deg, #4b6cb7 10%, #182848 90%); 
	background:     -ms-linear-gradient(90deg, #4b6cb7 10%, #182848 90%); 
	background:      -o-linear-gradient(90deg, #4b6cb7 10%, #182848 90%); 
	background:         linear-gradient(90deg, #4b6cb7 10%, #182848 90%); 
     
	      
	color: rgb(250,250,200);
	opacity:1;

}
.result-add{
	text-decoration: none;
	font-size:85%;
	position:absolute;
	right:5px;
	bottom:5px;
	display:none;
	cursor:pointer;
	color: #EB2142 !important;

}
.result-add-disabled{
	position:absolute;
	pointer-events: none;
	cursor: default;
	text-decoration: none;
	font-size:85%;
	right:5px;
	bottom:5px;
	color:#5cb85c;
}
.result-add:hover{
	color: #EB2142;
}
.result-info-container{
	position:relative;
	width:100%;
}
.result-info-container-cs{
	position:relative;
	width:100%;
}
.result-info-box {
	position:absolute;
	left:-5%;
	border-radius: 3px;
	width:110%;
	height:30px;
	background: rgba(221,221,221,0.3);
	border-bottom:2px solid rgba(40,40,40,0.2);
	border-top:1px solid rgba(200,200,200,1);
	border-left:1px solid rgba(200,200,200,1);
	padding:5px 20px 5px 40px;
	-webkit-box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    1px 1px 1px rgba(50, 50, 50, 0.5);
	box-shadow:         1px 1px 1px rgba(50, 50, 50, 0.5);
}
.result-info-box-cs {
	position:absolute;
	font-size:90%;
	width:100%;
	background: rgba(221,221,221,0.3);
	border-bottom:2px solid rgba(40,40,40,0.2);
	border-top:1px solid rgba(200,200,200,1);
	border-left:1px solid rgba(200,200,200,1);
	padding:5px 20px 5px 20px;
	-webkit-box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    1px 1px 1px rgba(50, 50, 50, 0.5);
	box-shadow:         1px 1px 1px rgba(50, 50, 50, 0.5);
}
.add-mylist { /*on member book details page */
	display:block;
	color:#EB2142 !important; 
	font-size:140%; 
	text-align:center; 
	opacity:0.25; 
	font-family:telex;
	-webkit-transition: all 0.3s ease-out;
	margin-bottom:10px;

}
.add-this-on-your-list {
	font-size:70%;
}
.add-mylist:hover {
	opacity:0.9;
	text-decoration: none;
}
.add-mylist:active{
	color:orange !important;
}
.add-mylist-disabled {
	display:block;
	cursor: pointer;
	color:#5cb85c !important;
	font-size:140%; 
	text-align:center; 
	opacity:0.5; 
	font-family:telex;
	margin-bottom:10px;
}
.add-mylist-disabled:hover {
	text-decoration:none;
}
#pagination-container {
	width:100%;
	margin:10px auto 10px;
	text-align: center;
	padding-bottom:5px;
}
.page-numbers{
	display:inline-block;
	font-size:100%;
	border:1px rgb(221,221,221) solid;
	color: rgb(120,120,120) !important;
	margin:5px 10px 5px;
	padding:5px 10px 5px;
}
.page-numbers:hover{
	color:#1253A4;
}
.isActive{ 
	background-color:#1253A4;
	color:white !important;
	font-weight:500;
	pointer-events: none;
	cursor: default;
}
form.search-box-form{
	overflow:hidden;
}
form select {
	float:left;
	margin-right:0.4%;
}
div.input-group{
	float:left;
}
div.search-box{
	width:500px;
}
.success-reserved {
	display:none;
}
#crumbs_container{
	width:auto;
	height:26px;
}
#crumbs ul li a {
	font-family:telex;
	display: block;
	float: left;
	height: 26px;
	/*background: #3498db;*/
	background: #1253A4;
	text-align: center;
	padding: 6px 15px 0 25px;
	position: relative;
	margin: 0 5px 0 0; 
	font-size:13px;
	text-decoration: none;
	color: #fff;
	-webkit-transition: all 0.3s ease-out;
}

#crumbs ul li a:before {
	content: "";  
	border-top: 13px solid transparent;
	border-bottom: 13px solid transparent;
	border-left: 13px solid white;
	position: absolute; left: 0px; top: 0;
}
#crumbs ul li a:after {
	content: "";  
	z-index: 1;
	border-top: 13px solid transparent;
	border-bottom: 13px solid transparent;
	border-left: 13px solid #1253A4;
	position: absolute; right: -13px; top: 0;
	-webkit-transition: all 0.3s ease-out;
}
#crumbs ul li:first-child a {
	border-top-left-radius: 8px; border-bottom-left-radius: 8px;
}
#crumbs ul li:first-child a:before {
	display: none; 
}
#crumbs ul li:last-child a {
	cursor:default;
	pointer-events:none;
}

#crumbs ul li a:hover {
	background: #C70230;
}
#crumbs ul li a:hover:after {
	border-left-color: #C70230;
}
.btn-refresh {
	position:absolute;
	right:0;
	top:-2px;
}
.my-tabs {
	margin-top: 50px;
}
.tab-contents {
	width:100%;
	height:auto;
	border-right: 1px #ddd solid;
	border-left: 1px #ddd solid;
	border-bottom: 1px #ddd solid;
	padding: 5% 0 3%;
}
.change-pw {
	color:#D2322D !important;
	text-decoration: underline;
}
.form-change-pw, .form-change-em {
	width:50%;
	margin: 20px auto 40px;
	/*background:gray;*/
}
.change-pw-caution {
	text-align:center;
	color:rgb(18,83,164);
}
/* ADMIN */
.hi_admin {
	position:absolute;
	font-weight:800;
	font-size:120%;
	color:rgb(18,83,164);
	opacity:0.8;
	left:90px;
	top:65px;
   -webkit-transition: all 0.5s ease-in;
   pointer-events:none;
} 
.hi_member {
	position:absolute;
	font-weight:800;
	font-size:100%;
	color:rgb(18,83,164);
	opacity:0.8;
	left:90px;
	top:65px;
   -webkit-transition: all 0.5s ease-in;
   pointer-events:none;
}    
.hi_admin:hover , .hi_member:hover{
	opacity:0.55;
} 
.general {
	text-align:center;
	padding:15px;
	font-size:150%;
	/*background:gray;*/
}
#table-details{
	margin: 1% auto 3%;
	width:70%;
}
#table-details-left, #table-details-right {
	width:98%;
}
.details-reserve-btn {
	display:block;
	width:70%;
	margin: 1.5% auto 3%;

}
#details-left-container {
	/*background:rgba(100,100,100,1);*/
	float:left;
	width:50%;
	padding:0 5px;
}
#details-right-container {
	/*background:rgba(150,150,150,1);*/
	float:right;
	width:50%;
	padding:0 5px;
}
.panell {
	color:red;
}
#table-mylist {
	width:96%;
	margin:0 auto;
}
#table-personal-reservation {
	width:95%;
	margin:0 auto;
}
.each-delete, .each-edit, .each-enable, .btn-missing , .btn-found{
	opacity:0;
}

.ISBN-link {
text-decoration: underline;
}
.ISBN-link2{
text-decoration: underline;
}

.ISBN-link:hover, .ISBN-link2:hover {
color: #d2322d;
}
.select-admin {
	width:10% !important;
	margin-right:0.5%;
}
.select-report {
	width:50% !important;
}
.select-duration {
	width:28.8% !important;
	margin-right:3.8%;
}
.date {
	float:right;
	margin-right:2%;
}
.search-box-admin{
	width:38%;
}
.clear-search {
	float:right;
}
.tr-red {
	background:#d43f3a !important;
	color:#ddd;
	z-index: 1000;
}
.multiselect {
  text-align: left;
}
.multiselect b.caret {
  position: absolute;
  top: 14px;
  right: 8px;
}
.label {
	line-height: 2;
}
.lbl-cat:hover {
	background:rgba(91,192,222,0.6);
}
.lbl-sub {
	background:rgba(153,153,153,0.8);
}
.lbl-sub:hover {
	background:rgba(153,153,153,0.6);
}

.category-list {
	line-height: 1.7;
	font-size:80%;
}
a.category-link {
	text-decoration: none;
	border-bottom:1px dotted rgb(200,200,200);
}
a.category-link:hover {
	border-bottom:1px solid rgb(50,50,50);
	background:rgba(200,200,200,0.1);
}
.category-badge {
	font-size:80%;
	font-family:PT Sans;
	border-radius:10px;
	color:rgba(100,100,100,0.5);
	background:rgba(180,180,180,0.15);
	text-align: center;
	padding:1px 5px;
}
#top-container {
	width:100%;
}
#top-report {
	width:100%;
	background:rgba(100,100,200,0.1);
	border-radius:10px;
	border-right:1px rgba(100,100,100,0.1) solid;
	border-left:1px rgba(100,100,100,0.1) solid;
	border-bottom:5px rgba(100,100,100,0.1) solid;
}
#menu-table {
	text-align: center;
}
.no-report-yet {
	color:rgba(200,200,200,0.5);
}
.btn-export {
	background : rgba(33,115,70,0.9);
	border:1px rgba(33,115,70,1) solid;
	transition: all .08s linear;
    position: relative;
    outline: medium none;
    -moz-outline-style: none;
    border: 0px;
    margin-bottom: 15px;
    top: 0;
	box-shadow: 0 0 0 1px rgba(33,115,70,0.1) inset, 0 0 0 2px rgba(33,115,70,0.15) inset, 0 8px 0 0 rgba(33,115,70,0.5), 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}
.btn-export:hover, .btn-export:focus {
	background : rgba(33,115,70,0.8);
}
.btn-export:active {
	background : rgba(33,115,70,0.8);
    top: 9px;
}
/*# ADMIN*/

/*Legend*/
.signal {
	position:relative;
	cursor:pointer;
	
}
#legend-container, #legend-container2 {
	display:none;
	position:absolute;
	width:300px;
	height:auto;
	border-radius:10px;
	-webkit-box-shadow: 1px 1px 10px  rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    1px 1px 10px  rgba(50, 50, 50, 0.5);
	box-shadow:         1px 1px 10px  rgba(50, 50, 50, 0.5);
	-webkit-transition: all 0.2s ease-in-out;
	

}
#legend-container {
	left:-400px;
}
#legend-container2{
	left:300px;
}
#legend {
	width:300px;
	color:rgba(41,41,41,0.85);
	text-align:center;
	background:#fff;
}
#legend td {
	padding:10px;
	font-size:80%;
}

.first-column {
	border-right:1px #ccc solid;
}
.three {
	color:#68d168;
}
.two {
	color:#f1c40f;
}
.one {
	color:#c0392b;
}
.black {
	color:rgb(40,40,40) !important;
}
.size {
	font-size:150%;
}
/*#legend*/
.welcome {
	color: rgb(18,83,164);
	text-shadow: 1px 1px 3px rgba(150,150,150,0.8);
}

/*SNIPPETS*/
.margin20{
	margin: 10px 0;
}

.margin10 {
	margin: 10px 0 0 0;
}

.strip-background {
	background: rgb(249,249,249);
}

.middle {
	text-align:center;
}
.link-disable {
	pointer-events: none;
    cursor: default;
}
.bold {
	font-weight:bold;
}
/* 3D buttons */
.btn3d {
    transition: all .08s linear;
    position: relative;
    outline: medium none;
    -moz-outline-style: none;
    border: 0px;
    margin-top: 15px;
    top: 0;
}
.btn3d:focus {
    outline: medium none;
    -moz-outline-style: none;
}
.btn3d:active {
    top: 9px;
}
.btn3d.btn-default {
    box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #adadad, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}
.btn3d.btn-primary {
    box-shadow: 0 0 0 1px #428bca inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #357ebd, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}
.btn3d.btn-success {
    box-shadow: 0 0 0 1px #5cb85c inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #4cae4c, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}
.btn3d.btn-info {
    box-shadow: 0 0 0 1px #5bc0de inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #46b8da, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}
.btn3d.btn-warning {
    box-shadow: 0 0 0 1px #f0ad4e inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #eea236, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}
.btn3d.btn-danger {
    box-shadow: 0 0 0 1px #c63702 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #c24032, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}
.btn3d:active.btn-default {
    box-shadow: none;
}
.btn3d:active.btn-primary {
    box-shadow: none;
}
.btn3d:active.btn-success {
    box-shadow: none;
}
.btn3d:active.btn-info {
    box-shadow: none;
}
.btn3d:active.btn-warning {
    box-shadow: none;
}
.btn3d:active.btn-danger {
    box-shadow: none;
}
/*Color Collection*/
.turquoise {
	background : turquoise;
	color:#ddd;
}

.silvertree {
	background : #58BE89;
	color:#ddd;
}

.downy {
	background :#79D1B0;
	color:rgb(50,100,90);
	/*color:#fff;*/
}

.poloblue {
	background : #93B8CA;
	color:#08233E
}

.irisblue {
	background :#02AEDC;
	color:#fff;
}
.sapphier {
	background :#08233E;
	color:#fff;
}
.red {
	background:#D2322D;
	color:#fff;
}


@media only screen and (max-width: 1100px) {
	header {
	    /*position:relative;*/
	    font-family:telex;
	    width: 97%;
	    min-width: 480px;
	    max-width: none;
	    /*margin:0 auto; */
	    height:auto;
	    font-size:80%;
	}
	#wrapper {   
		overflow:hidden;
		width: 97%;
		min-width: 480px;
		max-width: none;
		min-height:100%;
	 	height:100%;
		padding:5px 20px; 
		margin-top:20px;
		-webkit-box-shadow: none;
		-moz-box-shadow:    none;
		box-shadow:         none;
		border-radius:none;
	}
	#superwrapper {
		overflow:hidden;
		width: 97%;
		min-width: 480px;
		max-width: none;
		margin:20px auto 20px; /*centering*/
		padding:5px; 
		word-wrap:break-word;	
	}
	#upper-wrapper{
		padding: 5px 15px;
	}
	#logo {
	    position:static;
	    display:block;
	    text-align: center;
	    -webkit-transition: all 0.2s ease-in;
	}
	#logo:hover {
	    opacity:0.55;
	    
	 }
	 .hi_member {
	 	position:static;
	 	text-align: center;
	 	display: block;
	 	margin-top: -25px;
	 }    
    .nav-container{
    	float:left;
   		width: 50%;
	 	position:none;
   		cursor:pointer;
   		display:inline-block;
   		margin-top:0;
   		margin-left:0;
   		box-shadow: none;
   		border-bottom-width:1px;
   		     /*padding:12px 0 0 10px;*/
   }
    .nav-left {
	   	width:5%;
   }
   .nav-right {
	   	width:95%;
   }
  	.active {
  		position:static;
  		background:white;
  		border-bottom-width:1px;
  	    box-shadow: none;
  		cursor: default;
  		
  	}
  	.two-line{
  		padding:10px;
  	}
    #mainnav {
        float:none;
        overflow:hidden;
        margin:20px 0 0 0;
    }
    .notification{
    	/*position:absolute;*/
    	/*top:0;*/
    	/*right:1px;*/
    	width:40px;
    	height:40px;
    	border-radius:50%;
    	text-align: center;
    	padding-top:10px;
    	margin-top:22px;
    	margin-right:20px;
    }
    .panel-notif {
    	top:60px;
    	left:-410px;
    	z-index:1000;
    	width:480px;
    	overflow:visible;
    	margin-left:-30px;
    	text-align:left;
    	background:#fff;
    	border:1px solid rgb(61,83,150);;
    	border-radius:2px;
    	-webkit-box-shadow: 1px 1px 6px rgba(50, 50, 50, 0.5);
    	-moz-box-shadow:    1px 1px 6px rgba(50, 50, 50, 0.5);
    	box-shadow:         1px 1px 6px rgba(50, 50, 50, 0.5);
    }
    .panel-notif:before {
    	content:"";
    	position:absolute;
    	top:-30px;
    	left:443px;
    	height:0;
    	width:0;
    	border:15px solid transparent;
    	border-bottom:15px solid rgb(61,83,150);
    }
    div.search-box{
    	float:right;
    	width:76%;
    }
    .search-text {
    	height:30px;
    }
    .search-box-form select {
    	width:23% !important;
    	height:30px;
    	font-size:80%;
    }
    .result-semi-container {
    	width:48.5%;
    }
    #table-details {
	    margin: 1% auto 3%;
	    width: 100%;
    }
    #details-left-container {
	    float: none;
	    width: 100%;
	    padding: 0 5px;
    }
    .details-reserve-btn {
    	width:100%;
    	margin: 30px auto 30px;
    }

    #details-right-container {
    /* background: rgba(150,150,150,1); */
	    float: none;
	    width: 100%;
	    padding: 0 5px;
    }
    #crumbs ul li:first-child a, #crumbs ul li:last-child a {
    	margin-bottom:5px;
    }

    #main, #sidebar {
    	float: none;
    	width: 100%;
    }
    .category-badge {
    	color: #fff;
    	background: rgba(18,83,164,0.7);
    }
    .category-list {
    	line-height: 2;	
    	font-size: 80%;
    	display: inline-block;
    	margin-right: 3px;
    	margin-bottom: 5px;
    	background: rgba(100,100,100,0.1);
    	border-radius: 10px;
    	padding: 0 5px 0 5px;
    }
    a.category-link {
    	border-bottom:none;
    }
    .result-info-box-cs,.result-info-box {
    	position: static;
    	font-size: 72%;
    	width: 100%;
    	background: none;
    }
    .result-info-box {
    	font-size: 82%;
    	border-bottom: 2px solid rgba(40,40,40,0.2);
    	border-top: 1px solid rgba(200,200,200,1);
    	border-left: 1px solid rgba(200,200,200,1);
    	padding: 5px 20px 5px 20px;
    	-webkit-box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.5);
    	-moz-box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.5);
    	box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.5);
    	border-radius:0;
    	height:auto;
    }
    .result-info-container-cs,.result-info-container {
    	position: static; 
    	width: 100%;
    }
    #result-container {
    	margin-top:0;
    }

    .result-semi-container2 {
    	margin: 10px 0 0 0;
    	width: 100%;
    	height: 120px;
    }
    #crumbs_container{
    	width:auto;
    	height:20px;
    }
    #crumbs ul li a {
    	font-family:telex;
    	height: 20px;
		background : rgba(200,200,200,0.2);
		margin: 0 5px 0 0;
		color: rgba(100,100,100,0.8);	
    	text-align: center;
    	padding: 4px 10px 0 20px;
    	position: relative;
    	font-size:11px;
    	text-decoration: none;
    	-webkit-transition: all 0.3s ease-out;
    }

    #crumbs ul li a:before {
    	content: "";  
    	border-top: 10px solid transparent;
    	border-bottom: 10px solid transparent;
    	border-left: 10px solid white;
    	position: absolute; left: 0px; top: 0;
    }
    #crumbs ul li a:after {
    	content: "";  
    	z-index: 1;
    	border-top: 10px solid transparent;
    	border-bottom: 10px solid transparent;
    	border-left: 10px solid rgba(200,200,200,0.2);
    	position: absolute; right: -10px; top: 0;
    	-webkit-transition: all 0.3s ease-out;
    }
    #crumbs ul li:first-child a {
    	border-top-left-radius: 8px; border-bottom-left-radius: 8px;
    }
    #crumbs ul li:first-child a:before {
    	display: none; 
    }
    #crumbs ul li:last-child a {
    	cursor:default;
    	pointer-events:none;
    }

    #crumbs ul li a:hover {
    	background: #C70230;
    	color:#fff;
    }
    #crumbs ul li a:hover:after {
    	border-left-color: #C70230;
    }
    .btn-refresh {
		right: -5px;
		top: -5px;
	}
}

@media only screen and (max-width: 480px) {
	html {
		border-top:none;
	}
	header {
		position:relative;
	    font-family:telex;
	    font-size:80%;
	    font-weight:bold;
	    min-width: 320px;
	    max-width: none;
	    width:100%;
	    height:auto;
	    
	}
	span.icon-bell {
		font-size:70%
	}
	#toggle{
		display: block;
		position: relative;
		text-align:center;
		width: 100%;
		height:35px;
		border-bottom: 1px solid rgb(100,100,200);
		background: rgb(18,83,164);
		padding-top:11px;
		color:#fff;
		}
	#toggle a{
		display: inline-block;
		position: absolute;
		padding: 12px 0 10px;
		color: #fff;
		text-align: center;
		text-decoration: none;
		top:-2px;
		left:10px;
	}
	#wrapper{   
		font-size:90%;
		overflow:hidden;
		min-width: 320px;
		max-width: none;
		min-height:100%;
	 	height:100%;
	 	margin-top:20px;
		padding:5px 10px; 
	}
	#superwrapper{	
		min-width: 320px;
		max-width: none;
	}
	#main {
		font-size:90%;
	}
	.camera_wrap {
		display:none !important;
	}
	#logo {
	    position:static;
	    display:block;
	    text-align: center;
	    -webkit-transition: all 0.2s ease-in;
	}
	#logo:hover {
	    opacity:0.55;
	    
	 }
	.hi_member {
	 	position:static;
	 	text-align: center;
	 	display: block;
	 	margin-top: -25px;
	 }    
	
    .nav-container{
    	float:left;
   		width: 100%;
	 	position:none;
   		cursor:pointer;
   		display:inline-block;
   		margin-top:0;
   		margin-left:0;
   		border-bottom-width: 1px;
   		box-shadow: none;
	    z-index: 1000;
   		
   }
   .nav-container:hover {
   		background : rgb(241,240,238);
   }
   .nav-left {
	   	width:5%;
   }
   .nav-right {
	   	width:95%;
   }
  	.active {
  		position:static;
  		background:white;
  		border-bottom-width: 1px;
  		box-shadow: none;
  		cursor: default;
  		
  	}
  	.two-line{
  		padding:12px;
  	}
    #mainnav {
    
    	display:none;
    	position:absolute;
        float:none;
        overflow:hidden;
        top:17px;
    }

    .notification{
    	position:absolute;
    	top:0;
    	right:1px;
    	width:22px;
    	height:22px;
    	border-radius:50%;
    	text-align: center;
    	padding-top:3px;
    	padding-left:0;
    	margin-top:6px;
    	margin-right:20px;
    }
    .panel-notif {
    	top:55px;
    	left:-230px;
    	z-index:1000;
    	width:300px;
    	overflow:visible;
    	margin-left:-30px;
    	text-align:left;
    	background:#fff;
    	border:1px solid rgb(61,83,150);;
    	border-radius:2px;
    	-webkit-box-shadow: 1px 1px 6px rgba(50, 50, 50, 0.5);
    	-moz-box-shadow:    1px 1px 6px rgba(50, 50, 50, 0.5);
    	box-shadow:         1px 1px 6px rgba(50, 50, 50, 0.5);
    }
    .panel-notif:before {
    	content:"";
    	position:absolute;
    	top:-30px;
    	left:258px;
    	height:0;
    	width:0;
    	border:15px solid transparent;
    	border-bottom:15px solid rgb(61,83,150);
    }
    .notif-badge {
 		font-size:85%;
    	top:-2px;
    	right:-17px;
    	width:20px;
    	height:13px;
    	border-radius:3px;
    	padding-top:1px;
    	font-weight: lighter;
    }
    
    .panel-contents {
    	max-height:420px;
    }
    .result-semi-container {
    	width:100%;
    	height:120px;
    }
    .category-list {
		font-size: 67%;
	}
	.btn-refresh {
		right: 8px;
		top: -5px;
	}
	#upper-wrapper {
		padding: 5px 0 5px 8px;
	}
	.icon-menu {
		font-size:130%;
	}
	.form-change-pw, .form-change-em {
		width:100%;
	}
    

}