@charset "utf-8";

      body{
        font-family: "PT Sans", sans-serif;
        background : rgb(241,240,238);
        border-top: 7px #1253A4 solid;
        color:rgba(41,41,41,0.85);
        /*background-size:contain;*/
        /*background-attachment:fixed;*/      
      }
      a, a:link{
        /*text-decoration:none;*/
        color:rgba(41,41,41,0.85);
      }
      header {
        width: 100%;
        min-width:416px;
        max-width: 600px;
        margin:20px auto 0;
      }
      #wrapper{     
        width: 100%;
        min-width: 320px;
        max-width: 600px;
        margin: 0 auto; /*centering*/
        -webkit-box-shadow: 1px 1px 15px 2.5px rgba(50, 50, 50, 0.5);
        -moz-box-shadow:    1px 1px 15px 2.5px rgba(50, 50, 50, 0.5);
        box-shadow:         1px 1px 15px 2.5px rgba(50, 50, 50, 0.5);
        background-color:rgba(255,255,255,0.8);
        color:rgba(41,41,41,0.85);
        padding-top:20px;
      }

      img{
        -webkit-transition: all 0.2s ease-out;
        max-width:300px;
        min-width:100px;
      }
      #logo:hover{
        opacity:0.7;
      }
    
      footer{
        font-size:70%;
        width:100%;
        background-color:rgba(0,38,38,0.25);
        color:white;
        text-align:center;
        padding:10px;
      }
   
      .error-message{
        font-size:80%;
        margin:0 auto;
        width:80%;
      }
     
      input, textarea {
        font-family: "PT Sans", sans-serif;
        font-size: 14px;
      }
     /* input::-ms-clear, textarea::-ms-clear {
        display: none;
      }*/
      .cd-form {
        margin:0 auto;
        width:80%;
        }
    
      .cd-form label {
        font-size: 14px;
      }

      .cd-form input {
        margin: 0;
        padding: 0;
        border-radius: 0.25em;
      }
      .cd-form input.full-width {
        width: 100%;
      }
      
      .cd-form input.has-border {
        border: 1px solid #d2d8d8;
        
      }
      .cd-form input.has-border:focus {
        border-color: blue;
        box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
        outline: none;
      }
      
      .cd-form input[type=submit] {
        cursor: pointer;
        background: #1253A4;
        color: #ddd;
        border: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
      }
        .cd-form .fieldset {
          margin: 2em 0;
        }
        .cd-form .fieldset:first-child {
          margin-top: 20px;
        }
       /* .cd-form .fieldset:last-child {
          margin-bottom: 20px;
        }*/
        .cd-form input.has-padding {
          padding: 16px 20px 16px 50px;
        }
        .cd-form input[type=submit] {
          padding: 16px 0;
        }
        
      .link_forgotten_password{
        font-weight:800;
        font-size:90%;
        color:rgba(44,44,44,0.8);
        text-decoration:underline;
      }
      .forgot-link {
        width: 100%;
        min-width:416px;
        max-width: 600px;
        margin: 2% auto;
        text-align: center;
      }



